.popup-layer.open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.9;
}

.popup.open {
    position: absolute;
    display: table;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
}

.popup-content {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.popup-content .closeButton {
    background: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: black;
    line-height: 2;
    cursor: pointer;
    position: absolute;
    right: 6%;
}